:root {
    --bg-color: #222327;
    --text-color: #FFF;
    --main-color: #39e29d;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #454DA8;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #5762D5;
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

#root {
    padding-top: 150px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

html {
  overflow-x: hidden;
}

  * {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
  }

body {
    background: linear-gradient(rgba(48, 49, 65, 0.90),rgba(48, 49, 65, 0.90)),
    url('../public/background-modified.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    overflow-x: hidden;
    height: 100vh;
}